# Python build artifacts
__pycache__/
*.pyc
*.pyo
*.log
*.bak
*~

# Virtual environment
venv/

# Environment/config/secret files
.env
*.gpg
*.asc
*.key
*.pem
*.crt

# Logs and temp files
logs/
tmp/

# KeroRoute project YAMLs (not for public)
inventory.yaml
commands-lists.yaml
config-lists.yaml
bigfile.txt
put-test.text
ntc-templates
ntc-templates/*

# Editor/IDE settings
.vscode/
.idea/
*.swp

# Test artifacts
.coverage
htmlcov/
coverage.xml
.tox/
pytest_cache/

# OS-specific junk files
.DS_Store
Thumbs.db
/keroRoute.egg-info/
