[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cmd2 = "*"
rich = "*"
netmiko = "*"
"ruamel.yaml" = "*"
pyserial = "*"
python-gnupg = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest-rich = "*"
black = "*"
ruff = "*"
mkdocs = "*"
pytest = "*"

[requires]
python_version = "3.11"
