[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
rich = "*"
netmiko = "*"
"ruamel.yaml" = "*"
pyserial = "*"
python-gnupg = "*"
cmd2 = "<2.8,>=2.7"
rich-argparse = "*"
genie = "*"
pyats = "*"

[dev-packages]
flake8 = "*"
mypy = "*"
pytest-rich = "*"
black = "*"
mkdocs = "*"
pytest = "*"
ruff = "*"

[requires]
python_version = "3.11"
