-i https://pypi.org/simple
aiofiles==24.1.0; python_version >= '3.8'
aiohappyeyeballs==2.6.1; python_version >= '3.9'
aiohttp==3.12.15; python_version >= '3.9'
aiosignal==1.4.0; python_version >= '3.9'
async-lru==2.0.5; python_version >= '3.9'
attrs==25.3.0; python_version >= '3.8'
bcrypt==4.3.0; python_version >= '3.8'
bidict==0.23.1; python_version >= '3.8'
certifi==2025.8.3; python_version >= '3.7'
cffi==1.17.1; python_version >= '3.8'
chardet==4.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4'
charset-normalizer==3.4.3; python_version >= '3.7'
ciscoisesdk==2.3.1; python_version >= '3.8' and python_version < '4.0'
cmd2==2.7.0; python_version >= '3.9'
coverage[toml]==7.10.2; python_version >= '3.9'
cryptography==45.0.6; python_version >= '3.7' and python_full_version not in '3.9.0, 3.9.1'
dict2xml==1.7.7; python_version >= '3.5'
dill==0.4.0; python_version >= '3.8'
distro==1.9.0; python_version >= '3.6'
f5-icontrol-rest==1.3.13
fastjsonschema==2.21.1
frozenlist==1.7.0; python_version >= '3.9'
future==1.0.0; python_version >= '2.6' and python_version not in '3.0, 3.1, 3.2, 3.3'
genie==25.6; python_version >= '3.8'
genie.libs.clean==25.6
genie.libs.conf==25.6
genie.libs.filetransferutils==25.6
genie.libs.health==25.6
genie.libs.ops==25.6
genie.libs.parser==25.6
genie.libs.sdk==25.6
gitdb==4.0.12; python_version >= '3.7'
gitpython==3.1.45; python_version >= '3.7'
grpcio==1.74.0; python_version >= '3.9'
h11==0.16.0; python_version >= '3.8'
idna==3.10; python_version >= '3.6'
iniconfig==2.1.0; python_version >= '3.8'
invoke==2.2.0; python_version >= '3.6'
jinja2==3.1.6; python_version >= '3.7'
jsonpickle==4.1.1; python_version >= '3.8'
junit-xml==1.9
lxml==6.0.0; python_version >= '3.8'
markdown-it-py==3.0.0; python_version >= '3.8'
markupsafe==3.0.2; python_version >= '3.9'
mdurl==0.1.2; python_version >= '3.7'
multidict==6.6.3; python_version >= '3.9'
ncclient==0.6.19; python_version >= '3.5'
netaddr==1.3.0; python_version >= '3.7'
netmiko==4.5.0; python_version >= '3.9' and python_version < '4.0'
ntc-templates==7.9.0; python_version >= '3.8' and python_version < '4.0'
packaging==25.0; python_version >= '3.8'
paramiko==4.0.0; python_version >= '3.9'
pathspec==0.12.1; python_version >= '3.8'
pluggy==1.6.0; python_version >= '3.9'
ply==3.11
prettytable==3.16.0; python_version >= '3.9'
propcache==0.3.2; python_version >= '3.9'
protobuf==6.31.1; python_version >= '3.9'
psutil==7.0.0; python_version >= '3.6'
pyasn1==0.6.0; python_version >= '3.8'
pyasynchat==1.0.4; python_version >= '3.12'
pyasyncore==1.0.4; python_version >= '3.12'
pyats==25.6; python_version >= '3.8'
pyats.aereport==25.6; python_version >= '3.8'
pyats.aetest==25.6; python_version >= '3.8'
pyats.async==25.6; python_version >= '3.8'
pyats.connections==25.6; python_version >= '3.8'
pyats.datastructures==25.6; python_version >= '3.8'
pyats.easypy==25.6; python_version >= '3.8'
pyats.kleenex==25.6; python_version >= '3.8'
pyats.log==25.6; python_version >= '3.8'
pyats.reporter==25.6; python_version >= '3.8'
pyats.results==25.6; python_version >= '3.8'
pyats.tcl==25.6; python_version >= '3.8'
pyats.topology==25.6; python_version >= '3.8'
pyats.utils==25.6; python_version >= '3.8'
pycparser==2.22; python_version >= '3.8'
pyftpdlib==2.0.1; python_version > '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
pygments==2.19.2; python_version >= '3.8'
pynacl==1.5.0; python_version >= '3.6'
pyperclip==1.9.0
pyserial==3.5
pysmi==1.6.2; python_version >= '3.9'
pysnmp==6.1.4; python_version >= '3.8' and python_version < '4.0'
pysnmpcrypto==0.0.4
pytest==8.4.1; python_version >= '3.9'
pytest-cov==4.1.0; python_version >= '3.7'
python-engineio==4.9.1; python_version >= '3.6'
python-gnupg==0.5.4
python-socketio==5.11.2; python_version >= '3.8'
pyyaml==6.0.2; python_version >= '3.8'
requests==2.32.4; python_version >= '3.8'
requests-toolbelt==1.0.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
rest.connector==25.6
rich==14.1.0; python_full_version >= '3.8.0'
rich-argparse==1.7.1; python_version >= '3.8'
ruamel.yaml==0.18.14; python_version >= '3.8'
ruamel.yaml.clib==0.2.12; python_version >= '3.9'
scp==0.15.0
setuptools==80.9.0; python_version >= '3.9'
simple-websocket==1.1.0; python_version >= '3.6'
six==1.17.0; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2'
smmap==5.0.2; python_version >= '3.7'
textfsm==1.1.3
tftpy==0.8.0
tqdm==4.67.1; python_version >= '3.7'
unicon==25.6; python_version >= '3.8'
unicon.plugins==25.6
urllib3==2.5.0; python_version >= '3.9'
wcwidth==0.2.13
wheel==0.45.1; python_version >= '3.8'
wsproto==1.2.0; python_full_version >= '3.7.0'
xmltodict==0.12.0
yamllint==1.37.1; python_version >= '3.9'
yang.connector==25.6
yarl==1.20.1; python_version >= '3.9'
